<div class="container mt-4">
  <div class="card shadow-sm p-3">
    <h4 class="mb-3 text-center">Create a New Todo</h4>
    <form [formGroup]="todoForm">
      <div class="mb-3">
        <label for="task" class="form-label">Task</label>
        <input type="text" id="task" class="form-control" placeholder="Enter task" formControlName="task">
        <div class="text-danger mt-1" *ngIf="todoForm.controls['task'].invalid && (todoForm.controls['task'].touched || todoForm.controls['task'].dirty)">
          <span *ngIf="todoForm.controls['task'].errors?.['required']">This field is required</span>
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" id="description" class="form-control" placeholder="Enter description" formControlName="description">
        <div class="text-danger mt-1" *ngIf="todoForm.controls['description'].invalid && (todoForm.controls['description'].touched || todoForm.controls['description'].dirty)">
          <span *ngIf="todoForm.controls['description'].errors?.['required']">This field is required</span>
        </div>
      </div>

      <div>
        <button type="submit" class="btn btn-success" (click)="onSave()">Save</button>
      </div>
    </form>
  </div>
</div>
