<div class="container">

  <form [formGroup]="editedTodo" >
    <div>
      <label for="">Task</label>
      <input type="text" class="form-control" [(ngModel)]="todos.task" formControlName="task">
      <div class="text-danger" *ngIf="editedTodo.controls['task'].invalid && (editedTodo.controls['task'].touched || editedTodo.controls['task'].dirty)">
        <span *ngIf="editedTodo.controls['task'].errors?.['required']"> This is required </span>
            </div>
          </div>
          <div>
            <label for="">Description</label>
            <input type="text" class="form-control" [(ngModel)]="todos.description" formControlName="description">
            <div class="text-danger" *ngIf="editedTodo.controls['description'].invalid && (editedTodo.controls['description'].touched || editedTodo.controls['description'].dirty)">
              <span *ngIf="editedTodo.controls['description'].errors?.['required']"> This is required </span>
            </div>
            </div>     
        </form>

        <div class="mt-4 d-flex justify-content-evenly w-25">
          <div>
            <button class="btn btn-success" (click)="update()" >Save</button>
          </div>
          <div>
            <button class="btn btn-danger" (click)="cancel()" >Cancel</button>
          </div>
        </div>
      </div>